body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.navbar-link {
  color: gainsboro;
  font-size: 16px;
  padding: 6px 10px;
  text-decoration: none;
}

a.navbar-link:hover {
  color: #FFFFFF;
}

a.navbar-link.active {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}

table {
  border-collapse: collapse;
  overflow: hidden;
}

td, th {
  position: relative;
}

tbody tr:not(.no-hover):hover {
  background-color: #F2F2F2;
}

td:not(.no-hover):hover::after,
thead th:not(:empty):not(.no-hover):hover::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #F2F2F2;
}

/* Color when row and column intersect */
td:hover {
  background-color: #6C7AE0;
}

tbody tr:not(.no-hover) {
  border-bottom: 1px solid #E5E5E5;
}

.expense-row {
  background-color: darkred;
}

.income-row {
  background-color: darkblue;
}

.overview-row {
  background-color: darkgoldenrod;
}

.section-label {
  color: white;
}

.main-category-row-label {
  font-weight: bold;
}

.main-category-row-label__total {
  text-indent: 1em;
}

.sub-category-row-label {
  font-weight: normal;
  text-indent: 1em;
}

.overview-row-label {
  font-weight: normal;
}

.row-label {
  text-align: left;
}

.month-label {
  text-align: right;
  width: 130px;
}